.cont{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  
    
}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(234, 191, 17);
    padding: 25px;
    font-size: 30px;
    
}
